*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FC7ACD;
    color: #000000;
}
#header {
    width: 100%;
    padding: 20px 0; /* Adjust this value as needed */
    background-size: cover;
    background-position: center;
}


.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap ;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #c24040;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li:hover .dropdown-content {
    display: block;
}

#professional-standart-title {
    font-size: 60px;
    text-align: center;
    margin-top: 20px; /* Reduced space between the title and the top */
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    color: #DB48A5;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.7);
}
.paragraph {
    text-align: center;
    font-size: 15px;
    color: white;
}

h2 {
    font-size: 36px;
    color: #DB48A5;
    margin-top: 10px;  /* Adjust this if you want less space between title and subtitle */
    text-align: center;
}

section {
    margin-top: 10px;  /* Reduced margin-top to less than 50px */
    padding: 10px 10%;
   
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 250px;
}

.content p {
    width: 60%;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.section-image {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}


.glowing-cursor {
    position: fixed;
    width: 12px;
    height: 15px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.967), 
                0 0 30px rgba(232, 50, 141, 0.5); 
    transform: translate(-50%, -50%);
    z-index: 9999; 
    transition: transform 0.05s ease-out; 
}
.footer {
    background-color: #DB48A5; 
    color: #ffffff;
    text-align: center;
    padding: 20px 0; 
    font-size: 14px; 
    font-family: 'Poppins', sans-serif; 
    overflow: hidden; 
    position: relative; 
}
